---
---

@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "home";

body {
  background-color: $blue-dark;
  color: $text-primary;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

.container {
  @include container;
}

.section {
  @include section-padding;
}

.btn-primary {
  @include button-base;
  background-color: $blue-accent;
  color: $blue-dark;
  border: 1px solid $blue-accent;
  &:hover {
    background-color: transparent;
    color: $blue-accent;
  }
}

.btn-secondary {
  @include button-base;
  background-color: transparent;
  color: $blue-accent;
  border: 1px solid $blue-accent;
  &:hover {
    background-color: rgba($blue-accent, 0.1);
  }
}


a {
  color: $blue-accent;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
